
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Poppins';
 }

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 10px;
    padding-inline: 2px;
    box-shadow: 0 1px 3px -2px black;
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff; /* Added background color for visibility */
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo p {
    color: #171717;
    font-size: 15px;
    font-weight: 600;
}

.nav-logo img {
    width: 60px;
    height: 60px;
}

.navIcons {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.navIcons a {
    text-decoration: none;
    color: rgb(0, 0, 0); /* Changed to black for better visibility */
    padding: 8px 16px;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
}
.close-btn{
    display: none;
}

/* style for jumbotron */
.jumbotron{
    background-color: #f3d0ed;
    padding: 10px;
    text-align: center;
}
.AboutUssec{
    padding: 15px;
    text-align: justify;
}
.Back{
    text-align: center;
    padding-bottom: 20px;
}
/* style for footer */
footer{
    padding-top: 30px;
    padding-inline: 20px;
    background-color: #f3d0ed;
    color: #000;
}
.locate{
    display: flex;
    gap: 5px;
    padding-bottom: 10px;
}
.contact{
    display: flex;
    gap: 5px;
}
footer a{
    color: #000;
}
footer h3{
    font-weight: 200;
    font-size: small;
    text-align: center;
}
.about{
    padding-top: 20px;
    padding-bottom: 25px;
}
.contact{
    padding-bottom: 15px;
}
.footer p{
    text-transform: uppercase;
    font-size: smaller;
    padding-bottom: 10px;
}
.social{
    display: flex;
    gap: 10px;
    padding-bottom: 40px;
}
.social img{
    width: 30px;
    height: 30px;
    gap: 10px;
}
