@media (max-width: 440px) {
    .navIcons {
        display: none; /* Hide nav links by default */
        flex-direction: column; /* Stack them vertically */
        position: fixed; /* Position the dropdown */
        background-color: #040303; /* Background color */
        top: 0; /* Position below the navbar */
        height: 100vh;
        font-size: 25px;
        align-items: start;
        right: 0; /* Align to the right */
        width: 100%; /* Full width */
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); /* Add shadow */
        transition: right 3s ease-in-out; /* Sliding transition */
    }
    .navIcons a{
        color: #f1f1f1; /* Change this to a darker color for visibility */
        padding: 2px 16px;
    }
    .navbar{
        padding-block: 0px;
        padding-inline: 5px;
    }
    .navIcons.active {
        display: flex; /* Show when active */
    }

    .hamburger {
        display: block; /* Show hamburger icon on small screens */
    }
    .lines{
        width: 100%;
        border: 2px solid #fff;
        opacity: 0.4;
    }
    .close-btn{
        color: #fff;
        /* border: 2px solid red; */
        padding-block: 10px;
        padding-inline: 20px;
        font-size: 17px;
        width: 100%;
        text-align: end;
        
    }

    /* style for search container */
    #search-container input {
        width: 60%;
        /* border: 1px solid #110f29; */
        padding: 0.5em 0.1em;
    }
    #search-container{
        border-bottom-color:none;
    }

    /* style for body */
    #products {
        padding-inline: 10px;
        grid-template-columns:auto auto;
        grid-column-gap: 1.3em;
        grid-row-gap: 0.3em;
    }
    .card {
        background-color: #fff5f5;
        width: 100%;
        height: 250px;
        margin-top: 1em;
        padding: 1em;
        border-radius: 5px;
        box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
    }
    .image-container {
        text-align: center;
    }
    .image-container img {
        width: 90%;
        height: 140px;
        object-fit: contain;
    }

}
